{% extends "_global/index.html" %}

{% block main %}
<div>
    <a href="{{ BASE }}user/auctions">
        <i class="fa fa-list"></i> List my auctions
    </a><br>
    <a href="{{ BASE }}user/categories">
        <i class="fa fa-list"></i> List categories
    </a>
</div>
{% endblock %}