{% extends "_global/index.html" %}

{% block main %}
<form action="{{ BASE }}user/login" method="POST">
    <div class="form-group">
        <label for="input_username">Username:</label>
        <input type="text" id="input_username" name="login_username" required
               class="form-control" pattern="^[^\s]{3,}$"
               placeholder="Unesite korisničko ime.">
    </div>

    <div class="form-group">
        <label for="input_password">Password:</label>
        <input type="password" id="input_password" name="login_password" required
               class="form-control" pattern="^.{6,}$"
               placeholder="Unesite lozinku.">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-sign-in"></i>
            Log in
        </button>
    </div>
</form>
{% endblock %}