<!doctype html>
<html>
    <head>
        <title>Ta&amp;Ta - {% block naslov %}Pocetna{% endblock %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ BASE }}assets/css/main.css">
    </head>
    <body>
        <div class="container">
            <header>
                <div class="row">
                    <div class="col col-sm">
                        <a href="{{ BASE }}">
                            <img src="{{ BASE }}assets/img/banner.jpg" alt="Banner">
                        </a>
                    </div>

                    <div class="col col-sm">
                        <div class="social-icons text-right">
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-facebook-square"></i></a>
                            <a href="#"><i class="fab fa-twitter-square"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>

                        <div class="search-box">
                            <form method="post" action="{{ BASE }}search">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" name="q" class="form-control"
                                               placeholder="Ključne reči pretrage" required pattern="[^\s]{2,}">
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <nav class="navbar navbar-expand-lg navbar-light bg-light main-menu">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link" href="{{ BASE }}"><i class="fas fa-home"></i> Pocetna</a>
                            <a class="nav-item nav-link" href="{{ BASE }}categories"><i class="fas fa-list-ul"></i> Kategorije</a>
                            <a class="nav-item nav-link" href="{{ BASE }}user/profile"><i class="fas fa-user"></i> Profil</a>
                            <a class="nav-item nav-link" href="{{ BASE }}contact"><i class="fas fa-phone"></i> Kontakt</a>
                            <a class="nav-item nav-link" href="{{ BASE }}user/logout"><i class="fas fa-sign-out-alt"></i> Odjava</a>
                        </div>
                    </div>
                </nav>
            </header>

            <main>
                {% block main %}
                {% endblock %}
            </main>

            <div class="card bookmark-card">
                <div class="card-body">
                    <a href="#" onclick="clearBookmarks();">Clear bookmarks</a>
                </div>
                <div class="bookmarks card-body">
                    Please wait, loading bookmarks...
                </div>
            </div>

            <footer class="site-footer text-center">
                &copy; 2018 - Aukcijska kuca Ta&amp;Ta
            </footer>
        </div>

        <script>const BASE = '{{ BASE }}';</script>
        <script src="{{ BASE }}assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="{{ BASE }}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="{{ BASE }}assets/js/bookmark.js"></script>
        <script src="{{ BASE }}assets/js/offer.js"></script>
    </body>
</html>